/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
    /* Pattern from https://www.heropatterns.com/ */
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    color: #1e272e;
    color: #fff;
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 90px;
}

/* Navbar Left */
.nav-main ul {
    display: flex;
}

    .nav-main ul li {
        padding: 10px;
    }

        .nav-main ul li a {
            padding: 2px;
        }

            .nav-main ul li a:hover {
                border-bottom: 2px solid #fff;
            }

    .nav-main ul.nav-menu {
        flex: 1;
        margin-left: 20px;
    }

hr {
    margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

/* TITLE */

.title {
    font-size: 50px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

/*CONSTRUCTION*/
.centered-image {
    display: block;
    margin: 0 auto;
    height: 50%;
    width: 50%;
}


/* News */
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
}

    .btn:hover {
        opacity: 0.9;
    }

h1 {
    font-size: 50px;
    padding:10px;
}
.showcase {
    height: 550px;
    background: url("../img/showcase2.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.showcase-overlay {
    position: absolute; /* Establece posicionamiento absoluto */
    bottom: 9px;
    left: 67px;
    width: 90.1%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; /* Asegura que el bloque esté sobre la imagen */
}

.showcase h2,
.showcase p {
    margin-bottom: 25px;
    position: relative; /* Ajusta la posición del texto */
    z-index: 2;
}

.showcase .btn {
    position: relative; /* Ajusta la posición del botón */
    z-index: 2;
    margin-bottom: -30px;
}

/* News Cards */
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 70px 0;
}

    .news-cards img {
        width: 100%;
        height: 180px;
    }

    .news-cards h3 {
        font-size: 20px;
        margin: 10px 0;
        letter-spacing: 1px;
    }

    .news-cards a {
        padding: 10px 0;
        color: #f2f2f2;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
    }

/* Schedule */


.race-card {
    display: flex;
    justify-content: space-between;
}

.race-position {
    width: 33%; /* El 25% del ancho total para cada posición */
    background-color: #262626; /* Fondo gris */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0 1%;
}

.driver-pos {
    font-size: 25px;
    margin-bottom: 5px;
}


.initials {
    color: #000000;
    background-color: #fff; /* Fondo blanco */
    width: 100%;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.driver {
    width: 75%; /* La imagen ocupa 75% del ancho de la posición */
    border-radius: 5px; /* Bordes redondeados */
}



.current-race {
    position: relative;
    height: 400px;
    background: url("../img/races/miami.jpg");
    background-size: cover; /* La imagen se estira para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.current-race:hover {
    border: 2px solid #fcff00;
}

    .current-race-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        border-radius: 5px;
    }

.current-race h2,
.current-race p {
    margin-bottom: 25px;
    position: relative; /* Ajusta la posición del texto */
    z-index: 2;
}

.current-flag {
    position: relative;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    z-index: 2;
    margin-bottom:15px;
}

.current-race .btn {
    position: relative; /* Ajusta la posición del botón */
    z-index: 2;
    margin-bottom: -30px;
}

.schedule-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 20px 0;  
}

.races, .drivers-card-rb1, .drivers-card-rb2, .drivers-card-ferr1, .drivers-card-ferr2, .drivers-card-mclaren1, .drivers-card-mclaren2,
.drivers-card-merc1, .drivers-card-merc2, .drivers-card-aston1, .drivers-card-aston2, .drivers-card-visarb1, .drivers-card-visarb2,
.drivers-card-haas1, .drivers-card-haas2, .drivers-card-alpine1, .drivers-card-alpine2, .drivers-card-williams1, .drivers-card-williams2,
.drivers-card-kick1, .drivers-card-kick2 {
    border-radius: 5px;
    border: 2px solid #ffffff;
    padding: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

    .races:hover {
        border: 2px solid #ff0000;
    }

.schedule-cards img.flag {
    position: absolute;
    height: 30px;
    width: 40px;
    top: 15px;
    right: 15px;
    border-radius: 5px;
}

.schedule-cards img.circuit {
    width: 100%;
    height: 180px;
}

.schedule-cards h3 {
    font-size: 20px;
    margin: 10px 0;
    letter-spacing: 1px;
}

.schedule-cards p {
    flex-grow: 1;
}

.schedule-cards a {
    padding: 20px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin-top: auto;
}

/* Pilotos */
.schedule-cards img.driverph {
    width: 100%;
    height: 270px;
}

.drivers-card-rb1:hover, .drivers-card-rb2:hover {
   border: 2px solid #000dff;
}

.drivers-card-ferr1:hover, .drivers-card-ferr2:hover {
    border: 2px solid #ff0000;
}

.drivers-card-mclaren1:hover, .drivers-card-mclaren2:hover {
    border: 2px solid #fc8300;
}

.drivers-card-merc1:hover, .drivers-card-merc2:hover {
    border: 2px solid #02f26e;
}

.drivers-card-aston1:hover, .drivers-card-aston2:hover {
    border: 2px solid #007d0e;
}

.drivers-card-visarb1:hover, .drivers-card-visarb2:hover {
    border: 2px solid #006bff;
}

.drivers-card-haas1:hover, .drivers-card-haas2:hover {
    border: 2px solid #515151;
}

.drivers-card-alpine1:hover, .drivers-card-alpine2:hover {
    border: 2px solid #ed00ff;
}

.drivers-card-williams1:hover, .drivers-card-williams2:hover {
    border: 2px solid #00d9e0;
}

.drivers-card-kick1:hover, .drivers-card-kick2:hover {
    border: 2px solid #00ff05;
}

.driver-name {
    position: relative; /* Establece el contexto de posición */
    display: inline-block; /* Permite que el contenedor se ajuste al contenido */
    padding-left: 20px;
    font-size: 22px;
    letter-spacing: 1px;
}

.driver-team-rb {
    position: absolute;
    top: 0;
    right: 15px; /* Ajusta este valor según sea necesario */
    height: 70px; /* Ajusta la altura según sea necesario */
}

.driver-team-ferr {
    position: absolute;
    top: 7px;
    right: 30px; /* Ajusta este valor según sea necesario */
    height: 55px; /* Ajusta la altura según sea necesario */
}

.driver-team-mclaren {
    position: absolute;
    top: 7px;
    right: 30px; /* Ajusta este valor según sea necesario */
    height: 55px; /* Ajusta la altura según sea necesario */
}

.driver-team-mercedes {
    position: absolute;
    top: 12px;
    right: 30px; /* Ajusta este valor según sea necesario */
    height: 45px; /* Ajusta la altura según sea necesario */
}

.driver-team-aston {
    position: absolute;
    top: 20px;
    right: 15px; /* Ajusta este valor según sea necesario */
    height: 25px; /* Ajusta la altura según sea necesario */
}

.driver-team-visarb {
    position: absolute;
    top: 12px;
    right: 30px; /* Ajusta este valor según sea necesario */
    height: 45px; /* Ajusta la altura según sea necesario */
}

.driver-team-haas {
    position: absolute;
    top: 12px;
    right: 25px; /* Ajusta este valor según sea necesario */
    height: 45px; /* Ajusta la altura según sea necesario */
}

.driver-team-alpine {
    position: absolute;
    top: 12px;
    right: 20px; /* Ajusta este valor según sea necesario */
    height: 50px; /* Ajusta la altura según sea necesario */
}

.driver-team-williams {
    position: absolute;
    top: 15px;
    right: 20px; /* Ajusta este valor según sea necesario */
    height: 35px; /* Ajusta la altura según sea necesario */
}

.driver-team-kick {
    position: absolute;
    top: 12px;
    right: 10px; /* Ajusta este valor según sea necesario */
    height: 45px; /* Ajusta la altura según sea necesario */
}

.driver-lastname {
    font-weight: bold;
}

.line-driver-rb {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #000dff;
}

.line-driver-ferr {
    position: absolute; 
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0; 
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px; 
    background-color: #ff0000; 
}

.line-driver-mclaren {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #fc8300;
}

.line-driver-merc {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #02f26e;
}

.line-driver-aston {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #007d0e;
}

.line-driver-visarb {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #006bff;
}

.line-driver-haas {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #515151;
}

.line-driver-alpine {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #ed00ff;
}

.line-driver-williams {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #00d9e0;
}

.line-driver-kick {
    position: absolute;
    top: 0; /* Ajusta esta propiedad para desplazar la línea hacia abajo */
    left: 0;
    height: 100%; /* Altura ajustada para que no se superponga con el nombre */
    width: 8px;
    background-color: #00ff05;
}

/* DRIVERS DESCRIPTION */

.driver-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 225px; /* Alinea a la derecha */
    width: 1200px; /* Ancho máximo para centrar en la página */
}

.driver-photo {
    flex: 1;
    text-align: center;
}

    .driver-photo img {
        width: 85%; /* Ajustar el tamaño de la imagen */
        border-radius: 5%; /* Hacer la imagen redonda */
    }

.driver-info {
    flex: 2;
    padding: 0 20px;
}

    .driver-info h2 {
        font-size: 24px;
        margin-bottom:15px;
    }

    .driver-info ul {
        list-style-type: none;
        padding: 0;
    }

        .driver-info ul li {
            margin-bottom: 10px;
        }

.driver-resume {
    letter-spacing: 1px;
    font-size: 18px;
}

.driver-helmet {
    position: absolute;
    top: 180px;
    right: 300px; /* Ajustar la distancia desde el borde derecho del h2 */
    width: 170px;
    height: 110px;
}

/* CARDS BANNER ONE */
.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url("../img/tech-red.jpg");
    margin-bottom: 40px;
}

    .cards-banner-one .content {
        width: 40%;
        padding: 90px 0 0 30px;
        color: #fff;
    }

    .cards-banner-one p,
    .cards-banner-two p {
        margin: 10px 0 20px 0;
    }


/* CARDS BANNER TWO*/
.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url("../img/image-five.jpg") no-repeat center center/cover;
}

    .cards-banner-two .content {
        width: 50%;
        padding: 100px 0 0 30px;
    }

/* Follow */
.social {
    margin: 50px;
}

    .social p {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .links a {
        margin: 0 30px;
    }

        .links a i {
            font-size: 3rem;
        }

/* Links */
.footer-links {
    background: #000000;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

    .footer-container ul {
        margin: 0 auto;
    }

.footer-links li {
    line-height: 2.8;
}

.footer {
    background: #000000;
    color: #ffffff;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}



/* Mobil */
@media (max-width: 700px) {
    .menu-btn {
        display: block;
    }

        .menu-btn:hover {
            opacity: 0.5;
        }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

        .nav-main ul.nav-menu li {
            padding: 20px;
            border-bottom: #ccc solid 1px;
            font-size: 14px;
        }

            .nav-main ul.nav-menu li:last-child {
                border-bottom: 0;
            }

        .nav-main ul.nav-menu.show {
            transform: translateX(-20px);
        }

    .nav-main ul.nav-menu-right {
        margin-right: 50px;
    }

    .showcase p {
        display: none;
    }

    .showcase-overlay {
        position: absolute; /* Establece posicionamiento absoluto */
        bottom: 0px;
        left: 24px;
        width: 90.1%;
        height: 35%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1; /* Asegura que el bloque esté sobre la imagen */
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

        .news-cards img {
            width: 430px;
            height: 300px;
        }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media (max-width: 500px) {
    .news-cards {
        grid-template-columns: 1fr;
    }

    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }

        .footer-links .footer-container ul {
            text-align: center;
        }
}
